<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Jobs</title>
    <script></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    
</head>
<body>
    <!--second nav-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'frontpage' %}">Coding Jobs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
                <a href="{% url 'search' %}" class="nav-item">Search</a>          
                {% if request.user.is_authenticated %}
                <ul class="navbar-nav mr-auto"></ul>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_job' %}">Add Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'notifications' %}">Notification</a>
                    </li>
                </ul>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'signup' %}" class="button is-success">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="button is-light">Login</a>
                    </li>
                </ul>
                {% endif %}
            

        </div>
    </nav>

    <br>
    <!--Navbar-->
    <nav class="navbar is-light">
       <div class="navbar-brand">
           <a href="{% url 'frontpage' %}" class="navbar-item"><strong>CodingJobs</strong></a>
       </div>
    <div class="navbar-menu">
        <div class="navbar-end">

                {% if request.user.is_authenticated %}
                    <a href="{% url 'dashboard' %}" class="navbar-item">Dashboard</a>
                    <a href="{% url 'add_job' %}" class="navbar-item">add Job</a>
                    <a href="{% url 'notifications' %}" class="navbar-item">Notifications ({{ notifications.count }})</a>
                    <a href="{% url 'logout' %}" class="button is-danger">Logout {{ user.username }}</a>
                    
                    
                {% else %}
                <a href="{% url 'signup' %}" class="button is-success">Signup</a>
                <a href="{% url 'login' %}" class="button is-light">Login</a>
                {% endif %}

        </div>
    </div>
    <!--end nav-->
    </nav>
    <!-- section -->
    <section class="section">
        {% block content %}
        {% endblock %}
        
    </section>
    
    <!-- end section -->
    <div class="d-flex flex-column min-vh-100">
        <footer class="footer bg-dark mt-auto"></footer>
    </div>
    </div>
    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>